/dataset/sourcedata/
/dataset/derivatives/
/dataset/*
!/dataset/README.md
!/dataset/updateNotice.pdf
/cache/
/logs/
/results/
/checkpoints/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/

.DS_Store
._*
.vscode/
.idea/
